trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  API_URL: 'https://nongenerical-dereistically-rachael.ngrok-free.dev/employees'
  FRONT_URL: 'http://localhost:4200'

stages:
- stage: Install
  displayName: 'Instalar dependencias'
  jobs:
  - job: Install
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Usar Node 20.x'

    - script: npm ci
      displayName: 'Instalar dependencias'

    - script: npx playwright install
      displayName: 'Instalar navegadores de Playwright'

- stage: RunTests
  displayName: 'Ejecutar tests Playwright'
  jobs:
  - job: PlaywrightTests
    steps:
    - script: |
        echo "API_URL=$(API_URL)"
        echo "FRONT_URL=$(FRONT_URL)"
        npx playwright test ./playwright/tests
      displayName: 'Ejecutar tests de frontend y API'
