trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  BACKEND_URL: 'https://nongenerical-dereistically-rachael.ngrok-free.dev'
  FRONTEND_URL: 'http://localhost:4200'

steps:
# 1️⃣ Instalar dependencias del proyecto (ignorando conflictos de peer deps)
- script: |
    npm install --legacy-peer-deps
  displayName: 'Instalar dependencias del proyecto'

# 2️⃣ Instalar navegadores de Playwright
- script: |
    npx playwright install
  displayName: 'Instalar Playwright Browsers'

# 3️⃣ Ejecutar tests de Playwright
- script: |
    npx playwright test ./playwright/tests --timeout 30000
  displayName: 'Ejecutar tests de Playwright'
  env:
    API_URL: $(BACKEND_URL)/employees
    FRONT_URL: $(FRONTEND_URL)/employees
