trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  FRONT_URL: 'http://localhost:4200'
  API_URL: 'http://localhost:8080'

stages:
- stage: Install
  displayName: 'Install dependencies'
  jobs:
  - job: Install
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Use Node.js 18'

    - script: |
        npm install
        npx playwright install --with-deps
      displayName: 'Install npm packages and Playwright browsers'

- stage: RunFrontend
  displayName: 'Run Frontend and Playwright Tests'
  dependsOn: Install
  jobs:
  - job: PlaywrightTests
    timeoutInMinutes: 15
    steps:
    - script: |
        # Levantar Angular en background
        npx ng serve --port 4200 &
        FRONT_PID=$!
        echo "Frontend PID: $FRONT_PID"

        # Esperar un momento a que Angular levante
        npx wait-on http://localhost:4200

        # Ejecutar tests de Playwright
        npx playwright test ./playwright/tests --timeout=30000

        # Detener Angular
        kill $FRONT_PID
      displayName: 'Run Angular and Playwright tests'
